body {
  background: hsl(156, 23%, 66%);
  color: hsl(0, 0%, 15%);
}

header {
  text-align: center;
}

h1 {
  margin-bottom: -15px;
}

main {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

#button1 {
  background: hsl(156, 32%, 43%);
  color: hsl(0, 0%, 90%);
}

#button2 {
  background: hsl(156, 32%, 43%);
  color: hsl(0, 0%, 90%);
}

#query {
  margin-top: 60px;
  font-size: 24px;
}

#whiterice {
  font-size: 24px;
  text-align: justify;
  padding-right: 200px;
  padding-left: 200px;
  visibility: hidden;
}

#calirice {
  font-size: 24px;
  text-align: justify;
  padding-right: 200px;
  padding-left: 200px;
  visibility: hidden;
}
