body {
  background: hsl(40, 80%, 80%);
  color: hsl(0, 0%, 30%);
}

header {
  text-align: center;
}

h1 {
  margin-bottom: -15px;
}

main {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button1 {
  background: hsl(40, 80%, 65%);
  color: hsl(0, 0%, 30%);
}
