body {
  background: hsl(156, 23%, 66%);
  color: hsl(0, 0%, 15%);
}

header {
  text-align: center;
}

h1 {
  margin-bottom: -15px;
}

main {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button1 {
  background: hsl(156, 32%, 43%);
  color: hsl(0, 0%, 90%);
}
